/* --- About Layout Page --- */

.about-layout-nav {
  width: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
  padding-bottom: 10px;
}

.about-layout-nav a {
  margin: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-layout-nav a:hover {
  color: yellow;
}

/* --- Who Am I? Page --- */

.about-index p {
  margin-bottom: 20px;
}

.about-index-image {
  width: 30%;
  border: 3px solid yellow;
  border-radius: 10px;
  float: left;
  margin: 0 20px 20px 0;
}

.about-index-intro {
  text-align: left;
}

.about-index-section {
  margin: 0 auto 80px auto;
  
}

.about-index-section h1 {
  margin-top: 0;
}

/* --- Experience Page --- */

.about-experience-card {
  margin: 20px;
}

.about-experience-card h3 {
  color: yellow;
  font-size: 1.8rem;
}

/* --- Skills Page --- */

.about-skills-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-skills-card {
  background-color: yellow;
  width: 80%;
  padding: 3px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: inset -5px -5px 10px -3px rgba(0, 0, 0, 0.7);
}

.about-skills-card:hover {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

.about-skills-card a {
  width: 100%;
  height: 80px;
  color: black;
  text-decoration: none;
}

.about-skills-softskills {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-skills-softskills p {
  margin-bottom: 10px;
}

.about-skilldetails {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.about-skilldetails a {
  color: white;
  text-decoration: none;
}

.about-skilldetails a:hover {
  color: lightgray;
  text-decoration: underline;
}

.about-skilldetails-container {
  text-align: center;
  margin-bottom: 40px;
}

.about-skilldetails-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px yellow;
}

.about-skilldetails-container h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.about-skilldetails-chart {
  text-align: center;
  margin-bottom: 20px;
}

.about-skilldetails-table {
    width: 100%;
    border: 3px solid white;
    border-spacing: 0;
}

    .about-skilldetails-table tr {
        font-family: 'Agency FB';
        font-size: 1.2rem;
        border: 1px solid white;
    }

        .about-skilldetails-table thead tr {
            font-size: 1.5rem;
            border-bottom: 2px solid white;
            color: yellow;
        }

    .about-skilldetails-table th {
        padding: 10px;
        border: 1px solid white;
        width: 50px;
        text-align: center;
    }

    .about-skilldetails-table td {
      color: white;
      padding: 10px;
      border: 1px solid white;
      text-align: center;
    }

    .about-skilldetails-table tr {
      color: dimgray;
    }

  .about-skilldetails-selected {
    background-color: #0A0A0A;
  }

  .about-skilldetails-selected th {
    color: yellow;
  }

/* --------------------------------------------- */

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {

}

/* @media screen size - Large */
@media only screen and (min-width: 992px) and (max-width: 1199.999px) {
  
  .about-layout-nav {
    width: 65%;
  }

  .about-layout-nav a {
    font-size: 1.4rem;
  }

  .about-experience-card h3 {
    color: yellow;
    font-size: 1.65rem;
  }
}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {

  .about-layout-nav {
    width: 80%;
  }
  
  .about-layout-nav a {
    font-size: 1.25rem;
  }

  .about-experience-card h3 {
    color: yellow;
    font-size: 1.5rem;
  }
}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {
  
  .about-layout-nav {
    width: 90%;
  }

  .about-layout-nav a {
    font-size: 1rem;
  }

  .about-index-intro {
    text-align: center;
  }

  .about-index-image {
    width: 40%;
    float: none;
  }

  .about-experience-card h3 {
    color: yellow;
    font-size: 1.4rem;
  }

  .about-skills-card a {
    height: 70px;
  }
}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {
  
  .about-layout-nav {
    width: 100%;
  }

  .about-layout-nav a {
    font-size: 0.8rem;
  }

  .about-index-intro {
    text-align: center;
  }

  .about-index-image {
    width: 50%;
    float: none;
  }

  .about-experience-card h3 {
    color: yellow;
    font-size: 1.3rem;
  }

  .about-skills-container {
    grid-template-columns: repeat(2, 50%);
  }

  .about-skills-card a {
    height: 60px;
  }

}