/* --- Global --- */

html {
  background-color: black;
  color: white;
  font-family: inter, sans-serif;
}

* {
  margin: 0;
}

.container {
  margin: 20px auto 200px auto;
  width: 70%;
}

p {
  font-size: 1.4rem;
  line-height: 150%;
}

h1 {
  font-size: 2rem;
  margin: auto auto 20px auto;
  border-bottom: 2px solid yellow;
  width: max-content;
}

h2 {
  font-size: 1.5rem;
}

a {
  font-size: 1rem;
}

.button-learnmore {
  background-color: yellow;
  font-size: 1.3rem;
  width: 180px;
  height: 45px;
  margin: 40px auto 20px auto;
  border-radius: 5px;
  box-shadow: inset -5px -5px 10px -3px rgba(0, 0, 0, 0.7);
}

.button-learnmore:hover {
  opacity: 0.7;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.button-linktext {
  text-decoration: none;
  color: black;
  width: 180px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Layout --- */

.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.layout-banner {
  background-image: url(../images/banner1.png);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.layout-banner h1 {
  font-size: 9rem;
  margin: 60px auto 10px auto;
  font-style: italic;
  border: none;
}

.layout-banner h2 {
  font-size: 2rem;
  margin: auto;
  margin-bottom: 120px;
  padding: 4px;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  width: max-content;
}

.layout-social {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: yellow;
  margin-bottom: 0px;
  height: 50px;
}

.layout-social-container {
  display: flex;
  width: 70%;
  align-items: center;
}

.layout-social-icon {
  color: black;
  font-size: 2rem;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.layout-social-icon:hover {
  opacity: 0.7;
}

nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.nav-active {
  border: solid 3px yellow;
}

nav a {
  margin: auto;
  padding: 6px;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.layout-outlet {
  min-height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  margin-top: auto;
  padding: 20px 0px 20px 0px;
  width: 100%;
  background-color: #0A0A0A;
  color: dimgray;
  border-top: 2px solid #CCC;
}

footer p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-nav {
  margin: 30px auto;
  text-transform: uppercase;
  font-weight: bold;
  display: grid;
  width: 60%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
}

.footer-nav-link {
  font-size: 1rem;
  color: lightgray;
  text-decoration: none;
  padding: 10px;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-totop:hover {
  color: yellow;
  cursor: pointer;
}

/* --- 404 Error Page --- */

.notfound-title {
  font-size: 3rem;
  margin-bottom: 10px;
  color: yellow;
}

.notfound-subtitle {
  margin-bottom: 80px;
}

.notfound-text {
  margin-bottom: 40px;
}

.notfound-pathname {
  color: dimgrey;
}

.notfound-link {
  font-size: 1.4rem;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.notfound-link:hover {
  text-decoration: underline;
  color: yellow;
}

/* --------------------------------------------- */

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {

}

/* @media screen size - Large */
@media only screen and (min-width: 992px) and (max-width: 1199.999px) {

  .container {
    width: 70%;
  }

  p {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  a {
    font-size: 0.95rem;
  }

  .layout-banner h1 {
    font-size: 8rem;
    margin-top: 60px;
  }

  .layout-banner h2 {
    font-size: 1.75rem;
    margin-bottom: 120px;
  }

  .layout-banner h2 {
    font-size: 1.25rem;
    margin-bottom: 80px;
  }

  .layout-social {
    height: 50px;
  }

  .layout-social-container {
    width: 70%;
  }

  .layout-social-icon {
    font-size: 2rem;
    padding-left: 18px;
    padding-right: 18px;
  }

  nav a {
    font-size: 1.8rem;
  }

  footer p {
    font-size: 0.9rem;
  }

  .footer-nav {
    width: 70%;
  }
  
  .footer-nav-link {
    font-size: 0.9rem;
  }

  .footer-totop {
    font-size: 1rem;
  }

  .notfound-title {
    font-size: 2.75rem;
  }

  .notfound-link {
    font-size: 1.3rem;
  }

}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {

  .container {
    width: 80%;
  }

  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  a {
    font-size: 0.9rem;
  }

  .layout-banner h1 {
    font-size: 7rem;
    margin-top: 55px;
  }

  .layout-banner h2 {
    font-size: 1.5rem;
    margin-bottom: 110px;
  }

  .layout-banner h2 {
    font-size: 1.25rem;
    margin-bottom: 80px;
  }

  .layout-social {
    height: 45px;
  }

  .layout-social-container {
    width: 75%;
  }

  .layout-social-icon {
    font-size: 1.8rem;
    padding-left: 16px;
    padding-right: 16px;
  }

  nav a {
    font-size: 1.6rem;
  }

  footer p {
    font-size: 0.9rem;
  }

  .footer-nav {
    width: 80%;
  }
  
  .footer-nav-link {
    font-size: 0.8rem;
  }

  .footer-totop {
    font-size: 1rem;
  }

  .notfound-title {
    font-size: 2.5rem;
  }

  .notfound-link {
    font-size: 1.2rem;
  }

}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {

  .container {
    width: 90%;
  }

  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  a {
    font-size: 0.85rem;
  }
  
  .layout-banner h1 {
    font-size: 5rem;
    margin-top: 40px;
  }

  .layout-banner h2 {
    font-size: 1.25rem;
    margin-bottom: 80px;
  }

  .layout-social {
    height: 45px;
  }

  .layout-social-container {
    width: 85%;
  }
  
  .layout-social-icon {
    font-size: 1.6rem;
    padding-left: 14px;
    padding-right: 14px;
  }
  
  nav a {
    font-size: 1.4rem;
  }

  footer p {
    font-size: 0.8rem;
  }

  .footer-nav {
    width: 80%;
    grid-template-columns: 50% 50%;
  }
  
  .footer-nav-link {
    font-size: 0.8rem;
  }

  .footer-totop {
    font-size: 1rem;
  }

  .notfound-title {
    font-size: 2.25rem;
  }

  .notfound-link {
    font-size: 1.1rem;
  }

}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {

  .container {
    width: 100%;
  }

  p {
    font-size: 1rem;
  }
  
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  a {
    font-size: 0.8rem;
  }

  .layout-banner h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }

  .layout-banner h2 {
    font-size: 1rem;
    margin-bottom: 60px;
  }

  .layout-social {
    height: 40px;
  }

  .layout-social-container {
    width: 90%;
  }
  
  .layout-social-icon {
    font-size: 1.4rem;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  nav a {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 0.7rem;
  }

  .footer-nav {
    width: 80%;
    grid-template-columns: 50% 50%;
  }
  
  .footer-nav-link {
    font-size: 0.7rem;
  }

  .footer-totop {
    font-size: 0.9rem;
  }

  .notfound-title {
    font-size: 2rem;
  }

  .notfound-link {
    font-size: 1rem;
  }

}